


.bob{
    width: 70px;
    height: 70px;
    border: solid rgb(0, 255, 68) 2px;
    
}

.list{
    display: flex;
}


.box {
    width: 100px;
    height: 100px;
    border: solid red 2px;
   
}

.box2 {
 
    border: solid rgb(0, 255, 68) 2px;
   
}

.box3 {
    width: 100px;
    height: 100px;
    border: solid rgb(19, 97, 181) 2px;
   
}